*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1480px;
  margin: 0 auto;
  p{
    text-align: center;
  }
}

.btnNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}